<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>about</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <header>
        <span>Node <em>&</em> Express</span> 
        <nav>
            <a href="/">Главная</a>
            <a href="/about">Про нас</a>
        </nav>
        <form>
            <input type="text" placeholder="Имя пользователя">
            <button>Поиск</button>
        </form>
    </header>
    <main>
        <h1>Страница про нас</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro dolor suscipit architecto earum, eligendi sint repellat eaque ad consequatur aspernatur assumenda deleniti cupiditate ipsam dolorem quas repudiandae ut vero ipsa.</p>
    </main>
</body>
</html>